html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif; }

body {
  background-color: #ecf0f1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

hr {
  border-top: 1px solid #487dff; }
  hr.small {
    width: 50px;
    margin-top: 10px; }

h2.section-header {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0; }
