body {
    font-family: 'Raleway';
    line-height: 1.7;
}
h2 {
    font-weight: bold;
}
p {
    display: block;
    opacity: 0.9;
    font-size: 17px;
    padding-bottom: 15px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
:focus {
    outline: 0;
}

/* Containers */
.my-jumbotron {
    background-image: url("../images/workspace_dark.jpg");
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    height: 100vh;
    margin: 0px 0px;
    color:#ffffff;
}
.content-container {
    height: auto;
    position: relative;
    vertical-align: baseline;
    max-width: 900px;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.projects-container {
    position: relative;
    vertical-align: baseline;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 10vh;
}
.contact-container {
    height: auto;
    position: relative;
    vertical-align: baseline;
    box-sizing: border-box;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

/* Image Styles */
.img-fluid:hover {
    opacity: 0.8;
    background-color: #000000;
    filter: alpha(opacity=50);
}
img-responsive {
    padding-top: 10px;
    padding-bottom: 20px;
}
.img-wrap {
    position: relative;
}
.img-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(24, 24, 24, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}
.img-wrap:hover .img-description-layer {
    visibility: visible;
    opacity: 1;
}  
.img-description {
    transition: .2s;
    transform: translateY(1em);
    font-size: 22px;
}  
.img-wrap:hover .img-description {
    transform: translateY(0);
}


/* Carousel */
.projects-carousel {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0,0,0);
}
.carousel-inner > .item > img {
    height : 80vh;
    width : 100%;
    text-align: center;
}

/* Color Schemes */
.bg-white {
    background-color: #ffffff;
    color: #0e1111;
}
.bg-blackgray {
    background-color: #2f2f2f;
    color: #ffffff;
}

/* Alignment */
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one           */
    display: flex;
    align-items: center;
  }

/* Icon Style */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 2px;
    border-radius: 50%;
    line-height: 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #000000;
    color: white;
}
.fa-envelope {
    background: #228b22;
    color: white;
}