.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 2px;
    border-radius: 50%;
    line-height: 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #000000;
    color: white;
}
.fa-envelope {
    background: #228b22;
    color: white;
}